body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    display: flex;
}

.main {
    width: 325px;
    margin: 200px auto;
    border-radius: 20px;
    background-color: white;
}

img {
    width: 90%;
    border-radius: 15px;
    margin: 5%;
    margin-bottom: 0;
}

h1 {
    text-align: center;
    color: hsl(218, 44%, 22%);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15px;
    font-size: 25px;
}

p {
    text-align: center;
    color: hsl(220, 15%, 55%);
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 25px;

}